[submodule "minishell"]
	path = minishell
	url = https://github.com/brilliantshell/minishell.git
[submodule "Philosophers"]
	path = Philosophers
	url = https://github.com/yongjulejule/Philosophers.git
[submodule "miniRT"]
	path = miniRT
	url = https://github.com/brilliantshell/miniRT.git
