[submodule "minishell"]
	path = minishell
	url = https://github.com/brilliantshell/minishell.git
[submodule "Philosophers"]
	path = Philosophers
	url = https://github.com/yongjulejule/Philosophers.git
[submodule "miniRT"]
	path = miniRT
	url = https://github.com/brilliantshell/miniRT.git
[submodule "cpp-module"]
	path = cpp-module
	url = https://github.com/yongjulejule/cpp-module.git
[submodule "netpractice"]
	path = netpractice
	url = https://github.com/yongjulejule/netpractice
[submodule "ft_containers"]
	path = ft_containers
	url = https://github.com/yongjulejule/ft_containers
[submodule "inception"]
	path = inception
	url = https://github.com/yongjulejule/inception.git
